.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.2),
      rgba(40, 180, 133, 0.8)
    ),
    url(../../img/person.jpg);
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1.2rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
.heading-primary--sub {
  display: block;
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  animation: moveInRight 1s ease-out;
}



.span-1 {
  color: orangered;
}

.u-margin-top-big {
  margin-bottom: 8rem;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}

.btn--green {
  background-color: #55c57a;
  color: #fff;
}
.btn--green::after {
  background-color: #55c57a;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text-1:link,
.btn-text-1:visited {
  font-size: 1.5rem;
  color: black;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid black;
  padding: 1rem;
  margin: 1rem;
}

.btn-text-1:hover {
  color: #fff;
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}



/*media query tablet */
@media screen and (max-width: 1024px) {
 
  .heading-primary--main {
    margin-top: 5rem;
    font-size: 2rem;
  }
  .heading-primary--sub {
    font-size: 2rem;
    letter-spacing: 1rem;
  }

  .heading-primary {
    margin-bottom: 2rem;
  }
  
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
  }
  .btn:link,
  .btn:visited {
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1rem;
  }

}

/*media query phones */
@media screen and (max-width: 600px) {

  .heading-primary--main {
    margin-top: 5rem;
    font-size: 2rem;
  }
  .heading-primary--sub {
    font-size: 2rem;
    
  }

  .heading-primary {
    margin-bottom: 2rem;
  }
  
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
  }
  .btn:link,
  .btn:visited {
    padding: 1rem 2rem;
    border-radius: 5rem;
    font-size: 1rem;
  }



 

}
