*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  padding: 3rem;
}


.header__logo-box {
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 4rem;
  left: 4rem;
}
.items {
  margin-left: 35rem;
  font-size: 0.5rem;
}

.header__logo {
  margin-right: 2rem;
  height: 7rem;
  border-radius: 1rem;
 
}



/*media query tablet */
@media screen and (max-width: 1024px) {
  .header__logo-box {
    margin-top: 0;
    top: .5rem;
    left: .5rem;
    justify-content: space-between;
  }

  .header__logo {
    margin-right: 1rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .header__logo-box{
    font-size: 1.3rem;
  }
}


/*media query phones */
@media screen and (max-width: 600px) {

  .heading-primary {
    width: 100%;
    
  }
  body {
    padding: 0;
    /* width: 50%; */
  }

}
